<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<<<<<<< HEAD
<% if policy(Article).moderator? %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
=======
<% if policy(Article).admin? %>
<%= link_to 'Edit', edit_article_path(@article) %> 
<% end %>|
>>>>>>> 06cd0324f54cfb69343eb7c5843d92332e5bc208
<%= link_to 'Back', articles_path %>