<nav class="collapse navbar-collapse" id="bs-navbar">
  <div class="nav navbar-nav">
    <div class="active">

  <div class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      
        <%= link_to me_users_path do %>
          <%= image_tag current_user.avatar.url(:thumb) %>
        <% end %>
      
      
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      
    <% else %>
      
        <%= link_to 'Login', new_user_session_path %>
        <br>
    
        <%= link_to 'Registration', new_user_registration_path %>
     
    <% end %>
  </div>
</nav>